### Each directory and file, which starts with dot
.*

### IntelliJ Idea
#.idea/
*.iml
*.ipr
*.iws

### Eclipse
#.settings/
#.classpath
#.project

### Maven
target/

### Gradle
#.gradle/

### Subversion
#.svn/

### Windows
Thumbs.db
Desktop.ini
